// fonts
$dm: "DM Serif Display", serif;
$karla: "Karla", sans-serif;

// colors
$darkViolet: hsl(256, 26%, 20%);
$grayBlue: hsl(216, 30%, 68%);
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);

// breakpoints
$max-width: 1440px;
